.LoginPage {
  &___heading {
  }

  &__form {
  }

  &__form-field {
  }

  &__fieldset {
  }

  &__radio-button {
  }

  &__legend {
  }

  &__button {
  }

  &__text-input {
  }

  &__text-input.is-phone-number {
  }

  &__text-input.is-phone-extension {
  }

  &__legal {
  }

  &__divider {
    width: 40%;
    margin: 1.6rem 0;
    padding: 0 50px;
    background-color: #f0f0f0;
    height: 1px;
    border: 0;
  }
}
