@font-face {
  font-family: 'GothamRounded';
  src: url("../fonts/Gotham-Rounded-Book.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GothamRounded';
  src: url("../fonts/Gotham-Rounded-Medium.otf") format("opentype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'GothamRounded';
  src: url("../fonts/Gotham-Rounded-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'GothamRounded';
  src: url("../fonts/Gotham-Rounded-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal; }

html body {
  font-family: 'GothamRounded';
  overflow-x: hidden;
  background-color: transparent; }
  html body .bg-top {
    margin: -20px -9px;
    width: 103%;
    height: 800px;
    overflow: hidden;
    -webkit-transform: skewY(-12deg);
    transform: skewY(-15.38deg);
    -webkit-transform-origin: 0;
    transform-origin: 0;
    background: linear-gradient(77deg, #5333E7 7%, #4AA0FB 102%); }
  html body .bg-panes-1 {
    position: absolute;
    left: -990px;
    top: 0;
    width: 3800px; }
  html body .bg-panes-2 {
    position: absolute;
    left: -990px;
    top: 2922px;
    opacity: .3; }
  html body .bg-gray {
    top: 1100px;
    position: absolute;
    margin: 0px -9px;
    width: 103%;
    height: 2000px;
    overflow: hidden;
    -webkit-transform: skewY(-12deg);
    transform: skewY(-16.05deg);
    -webkit-transform-origin: 0;
    transform-origin: 0;
    background: linear-gradient(34deg, #f3f3f3 23%, #ffffff 91%);
    z-index: -1; }
  html body .bg-middle {
    top: 1954px;
    position: absolute;
    margin: 0px -9px;
    width: 103%;
    height: 2005px;
    overflow: hidden;
    -webkit-transform: skewY(-12deg);
    -webkit-transform-origin: 0;
    transform-origin: 0;
    background: linear-gradient(77deg, #5333E7 7%, #4AA0FB 102%);
    z-index: 0; }
  html body .bg-flat-bottom {
    -webkit-transform: skewY(0deg);
    transform: skewY(0deg);
    -webkit-transform-origin: 0;
    background: linear-gradient(10deg, #5233e7 2%, #4f6af1 58%, #9ac5f9 124%);
    height: 500px;
    top: 3460px;
    z-index: -1; }
  html body .content-wrapper {
    max-width: 1000px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1; }

html a,
html a:link,
html a:hover,
html a:visited,
html a:active {
  text-decoration: none;
  color: inherit; }

html ul {
  list-style-type: none;
  padding: 0; }

html button {
  border-radius: 4px; }

html input {
  border: 1px solid #ddd; }

@media (max-width: 640px) {
  .display-none-phone {
    display: none; } }

@media (min-width: 768px) {
  .display-none-tablet {
    display: none; } }

.topnav-section {
  max-width: 1000px;
  margin: 0 auto; }
  .topnav-section .navbar-custom {
    padding: 0; }
    .topnav-section .navbar-custom .navbar-brand,
    .topnav-section .navbar-custom .navbar-text {
      color: #fff; }
    @media (min-width: 768px) {
      .topnav-section .navbar-custom .navbar-brand {
        padding: 40px; } }
    @media (max-width: 640px) {
      .topnav-section .navbar-custom .navbar-brand {
        padding: 20px; } }
    .topnav-section .navbar-custom .top-links {
      color: #fff;
      position: absolute; }
      @media (min-width: 768px) {
        .topnav-section .navbar-custom .top-links {
          right: 120px; } }
      @media (max-width: 640px) {
        .topnav-section .navbar-custom .top-links {
          right: 0; } }
      .topnav-section .navbar-custom .top-links a {
        padding: 0.8rem; }
        .topnav-section .navbar-custom .top-links a.with-border {
          border: 1px solid #fff; }
    .topnav-section .navbar-custom .navbar-nav {
      display: flex;
      flex-direction: row;
      justify-content: flex-start; }
      .topnav-section .navbar-custom .navbar-nav div {
        padding: 0 60px; }
      .topnav-section .navbar-custom .navbar-nav .supportLinks {
        color: #8A8A8A;
        font-size: 0.8rem; }
        .topnav-section .navbar-custom .navbar-nav .supportLinks p {
          margin-bottom: 0.3rem; }
      .topnav-section .navbar-custom .navbar-nav .pageLinks {
        font-size: 1rem; }
        .topnav-section .navbar-custom .navbar-nav .pageLinks li {
          margin-bottom: 0.8rem; }
    .topnav-section .navbar-custom .navbar-toggler {
      z-index: 10;
      padding-right: 60px; }
      .topnav-section .navbar-custom .navbar-toggler:focus {
        outline: none; }
      .topnav-section .navbar-custom .navbar-toggler.open-true .navbar-toggler-icon {
        background-image: url("../images/icons/close.svg"); }
      .topnav-section .navbar-custom .navbar-toggler.open-false .navbar-toggler-icon {
        background-image: url("../images/icons/hamburger.svg"); }
    .topnav-section .navbar-custom .navbar-collapse {
      background-color: #fff;
      max-width: none;
      width: 100vw;
      position: fixed;
      top: 0;
      left: 0; }
      .topnav-section .navbar-custom .navbar-collapse .logo-image {
        padding: 30px 60px; }
  .topnav-section .logo-section {
    display: flex; }
    .topnav-section .logo-section .merq-logo-image {
      padding: 0.5rem 1rem;
      border-right: 1px solid #bbb;
      align-self: center; }
    .topnav-section .logo-section .voith-powered-by {
      padding-left: 1rem;
      align-self: center;
      font-size: 0.7rem; }
      .topnav-section .logo-section .voith-powered-by p {
        margin-bottom: 0; }
      .topnav-section .logo-section .voith-powered-by .voith-logo {
        width: 36px; }

.footer-wrapper {
  width: 100%;
  min-height: 365px;
  background-color: #fff;
  font-size: 0.8rem;
  color: #8A8A8A; }
  @media (min-width: 1024px) {
    .footer-wrapper {
      padding: 60px 100px; } }
  @media (min-width: 768px) {
    .footer-wrapper {
      padding: 60px; } }
  @media (max-width: 640px) {
    .footer-wrapper {
      padding: 30px; } }
  .footer-wrapper .inner-wrapper {
    max-width: 1000px;
    margin: 0 auto; }
    .footer-wrapper .inner-wrapper > div {
      display: flex; }
      @media (max-width: 640px) {
        .footer-wrapper .inner-wrapper > div {
          flex-direction: column;
          margin: auto;
          text-align: center; } }
      @media (min-width: 768px) {
        .footer-wrapper .inner-wrapper > div {
          flex-direction: row;
          justify-content: space-between; } }
    .footer-wrapper .inner-wrapper .top-logo-section {
      padding: 0 0 20px; }
      @media (max-width: 640px) {
        .footer-wrapper .inner-wrapper .top-logo-section .merq-logo {
          margin: auto; } }
    .footer-wrapper .inner-wrapper .content-section .pageLinks {
      font-size: 1rem; }
      .footer-wrapper .inner-wrapper .content-section .pageLinks li {
        margin-bottom: 0.8rem; }
    .footer-wrapper .inner-wrapper .content-section .supportLinks {
      font-size: 0.8rem; }
      @media (max-width: 640px) {
        .footer-wrapper .inner-wrapper .content-section .supportLinks p {
          margin-bottom: 0.3rem; } }
    .footer-wrapper .inner-wrapper .content-section .voith-mobile-logo {
      margin: 1.6rem; }
    .footer-wrapper .inner-wrapper .content-section .newsletter-section {
      font-size: 0.9rem;
      color: #4B78F5;
      display: flex;
      justify-content: center; }
      .footer-wrapper .inner-wrapper .content-section .newsletter-section p {
        font-weight: 600;
        text-align: left; }
      .footer-wrapper .inner-wrapper .content-section .newsletter-section .input-section {
        display: flex;
        justify-content: start; }
        .footer-wrapper .inner-wrapper .content-section .newsletter-section .input-section .email-input input {
          height: 100%;
          min-width: 200px;
          margin-right: 4px;
          padding: 0 10px;
          font-size: 0.8rem; }
        .footer-wrapper .inner-wrapper .content-section .newsletter-section .input-section .subscribe-button button {
          height: 2.4rem;
          color: #fff;
          background-color: #4971EC;
          font-size: 0.7rem;
          padding: 10px 20px; }
    .footer-wrapper .inner-wrapper .bottom-logo-section {
      margin-top: 60px; }
      @media (max-width: 640px) {
        .footer-wrapper .inner-wrapper .bottom-logo-section {
          text-align: center; } }

.main-container {
  height: 3860px; }
  @media (min-width: 768px) {
    .main-container {
      padding: 0 60px; } }
  @media (max-width: 640px) {
    .main-container {
      padding: 0 30px; } }

#stickyBuySellLinkSection {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  background-color: #fff; }
  #stickyBuySellLinkSection button {
    margin: 20px; }
