@import '../../styles/settings';

.LandingSection {
  // $LandingSection--Background: no-repeat -990px 0px url('/assets/images/panes.png');
  // $LandingSection--is-alternative--Background: no-repeat -990px 0px url('/assets/images/panes.png');
  $LandingSection--Background: $white !default;
  $LandingSection--Color: $textColor !default;
  $LandingSection--is-alternative--Background: $primaryColor !default;
  $LandingSection--is-alternative--Color: $white !default;

  background: $LandingSection--Background;
  color: $LandingSection--Color;
  &.is-alternative {
    background: $LandingSection--is-alternative--Background;
    color: $LandingSection--is-alternative--Color;
  }
}
