$dodgerBlue: #4794ff;
$shamrock: #3ace80;
$mineshaft: #333333;
$boulder: #757575;
$white: #fff;

$xxsUnit: 2px;
$xsUnit: 4px;
$sUnit: 8px;
$mUnit: 16px;
$lUnit: 24px;
$xlUnit: 32px;
$xxlUnit: 64px;

$xxsFontSize: 8px;
$xsFontSize: 10px;
$sFontSize: 12px;
$mFontSize: 16px;
$lFontSize: 24px;
$xlFontSize: 32px;
$xxlFontSize: 64px;

$primaryColor: $dodgerBlue;
$secondaryColor: $shamrock;
$titleColor: $mineshaft;
$textColor: $mineshaft;
$captionColor: $boulder;

$fontFamily: 'GothamRounded', Helvetica, Arial, sans-serif;

$containerWidth: 1440px;

$boxShadow: 0 0 2px 2px rgba(0, 0, 0, 0.05);
