@font-face {
  font-family: 'GothamRounded';
  src: url('/assets/fonts/Gotham-Rounded-Book.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamRounded';
  src: url('/assets/fonts/Gotham-Rounded-Medium.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'GothamRounded';
  src: url('/assets/fonts/Gotham-Rounded-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'GothamRounded';
  src: url('/assets/fonts/Gotham-Rounded-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

* {
  font-family: 'GothamRounded', Arial, sans-serif;
}

body {
  background-color: #386fe7;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
