$white: #fff;
$gray: #ddd;
$gray-d: #ddd;
$gray-b: #bbb;

$font-dark: #3B3B3B;
$font-light: #8A8A8A;
$button-dark-blue: #4971EC;
$button-light-blue: #5A94F7;
$button-green: #6ACA87;

$font-blue: #4B78F5;