.footer-wrapper {
    width: 100%;
    min-height: 365px;

    @include breakpoint(desktop) {
        padding: 60px 100px;
    }

    @include breakpoint(tablet) {
        padding: 60px;
    }

    @include breakpoint(phone) {
        padding: 30px;
    }

    background-color: #fff;
    font-size: 0.8rem;
    color: $font-light;

    .inner-wrapper {
        max-width: 1000px;
        margin: 0 auto;

        > div {
            display: flex;

            @include breakpoint(phone) {
                flex-direction: column;
                margin: auto;
                text-align: center;
            }


            @include breakpoint(tablet) {
                flex-direction: row;
                justify-content: space-between;
            }
        }

        .top-logo-section {
            padding: 0 0 20px;

            .merq-logo {
                @include breakpoint(phone) {
                    margin: auto;
                }
            }
        }

        .content-section {
            .pageLinks {
                font-size: 1rem;

                li {
                    margin-bottom: 0.8rem;
                }
            }

            .supportLinks {
                font-size: 0.8rem;

                @include breakpoint(phone) {
                    p {
                        margin-bottom: 0.3rem;
                    }
                }
            }

            .voith-mobile-logo {
                margin: 1.6rem;
            }

            .newsletter-section {
                font-size: 0.9rem;
                color: $font-blue;
                display: flex;
                justify-content: center;

                p {
                    font-weight: 600;
                    text-align: left;
                }

                .input-section {
                    display: flex;
                    justify-content: start;

                    .email-input {
                        input {
                            height: 100%;
                            min-width: 200px;
                            margin-right: 4px;
                            padding: 0 10px;
                            font-size: 0.8rem;
                        }
                    }

                    .subscribe-button {
                        button {
                            height: 2.4rem;
                            color: $white;
                            background-color: $button-dark-blue;
                            font-size: 0.7rem;
                            padding: 10px 20px;
                        }
                    }
                }
            }
        }

        .bottom-logo-section {
            margin-top: 60px;

            @include breakpoint(phone) {
                text-align: center;
            }
        }
    }
}
