.Footer {
  color: #8a8a8a;
  font-size: 0.8rem;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__content__item {
  }

  &_link {
    display: block;
    padding: 0.8rem 0;
    color: #8a8a8a;
    font-size: 1rem;
    line-height: 1;
  }

  &_subheading {
    color: #4b78f5;
    font-size: 16px;
    font-weight: 600;
  }

  &_input {
    height: 45px;
    min-width: 200px;
    margin-right: 4px;
    padding: 0 10px;
    font-size: 0.8rem;
    border: 1px solid #ddd;
  }

  &_button {
    font-size: 0.7rem;
    height: 45px;
    padding: 10px 20px;
    border-color: #4971ec;
    border-radius: 4px;
    background-color: #4971ec;
    color: #fff;
  }

  &_support-text {
    margin: 0;
    padding: 0.8rem;
    line-height: 1;
  }
}
