.Error404Page {
  &_heading {
  }

  &_link {
  }

  &__button {
  }

  &__divider {
    width: 50%;
    padding: 0 2rem;
    margin: 0;
    background-color: #f0f0f0;
    height: 1px;
    border: 0;
  }
}
