.SingleLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 24px;
  box-sizing: border-box;
  background-color: $brand-color;

  * {
    box-sizing: border-box;
  }

  &__header {
  }

  &__main {
    flex: 0;
  }

  &_logo {
    display: block;
    width: 127px;
    height: auto;
    margin: 20px auto;
  }
}
