@import 'merqbiz.defaults';
@import '../grommet-core/index';
@import 'objects.button-hpe';
@import 'objects.anchor-hpe';

.SingleLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 24px;
  box-sizing: border-box;
  background-color: $brand-color;
  * {
    box-sizing: border-box;
  }
  &__header {
  }
  &__main {
    flex: 1;
  }
  &_logo {
    display: block;
    width: 127px;
    height: auto;
    margin: 20px auto;
  }
}

.InformationLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 24px;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }
  &__header {
    background-color: #333;
  }
  &__main {
    flex: 1;
  }
  &_logo {
    width: 127px;
    height: auto;
  }
}

.grommetux-form-field + .grommetux-form-field {
  // margin-top: 20px;
}
